*,body,html{margin:0; padding: 0; font-family:"roboto";} 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
/* Start Navbar  */
.navbar-brand{ margin:0px; padding: 0px; }
.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.collapse {
    align-items: center;
    justify-content: center;
    width: 300px;
}

.cari {
    width: 238.42;
    height: 37;
    background-color: white;
    border-radius: 20px;
}

.cari input {
    background: none;
    fill: none;
    border: none;
}

.cari button {
    margin-top: 0px;
}

.logo {
    width: 80%;
}
.logo {width: 80%; }
/* end navbar */

.row{ font-size: 20px; margin-top: 10px; }
.row-background{background-image: url(../Picstop3/image/avatar3.svg); margin: 10px; padding: 10px; background-size:130%,100%;}

/* footer start */
.footer{display: flex; justify-content: center; align-items: center; text-decoration: none; background-color: #2AB9D9;}
.h2, .footer-cover{ display: flex; justify-content: center; align-items: center; font-weight: bold; color: white;word-wrap: break-word
    Content; margin-top: 20px; font-size: 40px;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)}
.footer-font{display: flex; justify-content: center; align-items: center; font-weight: bold;font-style: italic; color: white;word-wrap: break-word
    Content; margin-top: 5px; font-size: 20px;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)}
.cpr{display: flex; justify-content: center; align-items: center;  color: white;word-wrap: break-word
    Content; margin-top: 5px; font-size: 20px;margin-bottom: 15px;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)}
.footer-icons{text-decoration: none; display: flex; align-items: center; justify-content: space-between;}
.btn.btn-link.btn-floating.btn-lg.text-dark.m-1 {color: #00529E !important;}
/* end footer */