
/* navbar star */
.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.collapse {
    align-items: center;
    justify-content: center;
    width: 300px;
}

.cari {
    width: 238.42;
    height: 37;
    background-color: white;
    border-radius: 20px;
}

.cari input {
    background: none;
    fill: none;
    border: none;
}

.cari button {
    margin-top: 0px;
}

.logo {
    width: 80%;
}

/* navbar end */

.image {
    height: 315px;
    width: 1728px;
    /* background: url(img/img/Rectangle\ 96.svg); */
    background-repeat: no-repeat;
    position: absolute;
    /* border-radius: 0px 0px 0px 1000px; */
    z-index: -1;
    align-items: end;
}

.image img {
    position: absolute;
    bottom: 10%;
    /* width: fit-content; */
    border-radius: 0px 0px 0px 2000px;
    right: 15.2%;
    width: 1500px;
    /* height: 290px; */
}

.btn-back {
    margin-bottom: 88.93px;
    margin-left: 74px;
    width: 137px;
    height: 41px;
}

.header {
    margin-left: 223px;
    color: white;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
}

.header h3 {
    font-weight: bold;
    font-size: 20px;
}


.deskripsi {
    margin-top: 76px;
    margin-left: 114px;
}


.gambar {
    justify-content: space-between;
    /* position: absolute; */
    align-items: center;
    z-index: 1;
}

.gambar img {
    width: 546px;
    height: 382px;
}

.btn-back {
    width: 137.47px;
    height: 41.07px;
    margin-top: 35px;
    border-radius: 20px;
    background-color: skyblue;
    color: #00529E;
    border: none;
    align-items: center;
    justify-content: center;
}

.deskripsi p {
    text-align: justify;
    width: 810px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.deskripsi h3 {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.access-btn {
    width: 358px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 25px;
    border: none;
    background: #2AB9D9;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.akses {
    justify-content: center;
    margin-bottom: 48px;
}

/* star footer  */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #2AB9D9;
}

.h2,
.footer-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    word-wrap: break-word Content;
    margin-top: 20px;
    font-size: 40px;
}

.footer-font {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    color: white;
    word-wrap: break-word Content;
    margin-top: 5px;
    font-size: 20px;
}

.cpr {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-wrap: break-word Content;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-icons {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn.btn-link.btn-floating.btn-lg.text-dark.m-1 {
    color: #00529E !important;
}

/* end footer  */