/* navbar star */
.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.collapse {
    align-items: center;
    justify-content: center;
    width: 300px;
}

.cari {
    width: 238.42;
    height: 37;
    background-color: white;
    border-radius: 20px;
}

.cari input {
    background: none;
    fill: none;
    border: none;
}

.cari button {
    margin-top: 0px;
}

.logo {
    width: 80%;
}

/* navbar end */

.button-top div {
    display: flex;
    flex-direction: column;
}

.button-bottom div {
    display: flex;
    flex-direction: column;
}

.button .button-top input {
    width: 271px;
    height: 45px;
    border-radius: 12px;
    background-color: white;
    border: none;
}

.button .button-top select {
    width: 271px;
    height: 45px;
    border-radius: 12px;
    background-color: white;
    border: none;
}

.button-top {
    justify-content: space-evenly;
    margin-bottom: 35px;
    align-items: baseline;
}

.button .button-top input {
    text-align: center;
    color: #8C8C8C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button .button-top select {
    color: #8C8C8C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.button-bottom {
    justify-content: space-evenly;
}

.button .button-bottom select {
    height: 45px;
    width: 270px;
    border: none;
    border-radius: 100px;
    background-color: white;
}

.button .button-bottom option {
    text-align: center;
    margin-right: 5px;
    padding: 50px;
    color: #00529E;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    width: 100%;
    height: 203px;
    background-color: #2AB9D9;
    margin-top: 30px;
    padding: 16px 0px;

}

.button button {
    width: 113px;
    height: 45px;
    border-radius: 10px;
    background: #00529E;
    border: none;
}

.left {
    width: 300px;
    height: 600px;
    border-radius: 10px;
    background: #2AB9D9;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.accounting {
    width: 233px;
    height: 231px;
    border-radius: 10px;
    background: #FFF;
    font-size: 10px;
    padding-left: 11px;
    padding-bottom: 8px;
}

.accounting p {
    margin-bottom: 0px;
}

.consultant {
    width: 233px;
    height: 231px;
    border-radius: 10px;
    background: #FFF;
    font-size: 10px;
    padding-left: 11px;
    padding-bottom: 8px;
}

.consultant p {
    margin-bottom: 0px;
}

.right {
    width: 738px;
    height: 665px;
    border-radius: 10px;
    background-color: #2AB9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 18px;
}

.white-right {
    width: 703px;
    height: 628px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding: 13px;

}

.right ul li {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.icons {
    align-items: center;
    /* justify-content: center; */
    height: 30px;
}

.icons p {
    margin: auto 0px auto 6px;
}

.right .kanan {
    justify-content: space-between;
}

.sign button {
    width: 138px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #00529E;
    border: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 21px;
}

.daftar {
    width: 245px;
    height: 79px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2AB9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: center;

}


.main {
    justify-content: space-around;
    margin: 25px;
}

/* star footer  */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #2AB9D9;
}

.h2,
.footer-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    word-wrap: break-word Content;
    margin-top: 20px;
    font-size: 40px;
}

.footer-font {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    color: white;
    word-wrap: break-word Content;
    margin-top: 5px;
    font-size: 20px;
}

.cpr {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    word-wrap: break-word Content;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-icons {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn.btn-link.btn-floating.btn-lg.text-dark.m-1 {
    color: #00529E !important;
}

/* end footer  */
.label{background-image: url(../assets/img/avatar-menu.svg);}